{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

{{#if settings.show_newsletter_box}}
    <div class="footer-newsletter">
        {{> components/common/subscription-form}}
    </div>
{{/if}}
                    
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
        <section class="footer-info 4a616d6573">
            <article class="footer-info-col footer-info-dropdown footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">
                    Policies
                    <i class="icon" aria-hidden="true">
                        <svg><use xlink:href="#icon-downselector" /></svg>
                    </i>
                </h5>
                <ul class="footer-info-list">
                        <li>
                            <a href="/shipping-returns/">Shipping & Returns</a>
                        </li>
                        <li>
                            <a href="/privacy/">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-and-conditions/">Terms and Conditions</a>
                        </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-dropdown footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">
                    {{lang 'footer.navigate'}}
                    <i class="icon" aria-hidden="true">
                        <svg><use xlink:href="#icon-downselector" /></svg>
                    </i>
                </h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>
        
            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                <article class="footer-info-col footer-info-dropdown footer-info-col--small" data-section-type="footer-brands">
                    <h5 class="footer-info-heading">
                        {{lang 'footer.brands'}}
                        <i class="icon" aria-hidden="true">
                            <svg><use xlink:href="#icon-downselector" /></svg>
                        </i>
                    </h5>
                    <ul class="footer-info-list">
                        {{#each shop_by_brand}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                        <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                    </ul>
                </article>
            {{/and}}
            
            {{#if theme_settings.social_icons_footer}}
                <article class="footer-info-col footer-mobile-limited footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
                </article>
            {{/if}}
            
            {{#if settings.address}}
                <article class="footer-info-col footer-mobile-limited footer-info-col--small" data-section-type="storeInfo">
                    <h5 class="footer-info-heading footer-store-name">{{settings.store_name}}</h5>
                    <address>{{nl2br settings.address}}</address>
                    {{#if settings.phone_number}}
                        <div class="footer-info-phone">
                            <i class="icon" aria-hidden="true">
                                <svg><use xlink:href="#icon-phone" /></svg>
                            </i>
                            <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>
                        </div>
                    {{/if}}
                </article>
            {{/if}}
            
            <article class="footer-info-col footer-info-dropdown footer-info-col--small" data-section-type="footer-ssl">
                <h5 class="footer-info-heading shop-safe">SHOP SAFELY</h5>
                <div class="">
                    <img class="norton-badge" src="https://cdn11.bigcommerce.com/s-ysz18nrorj/product_images/uploaded_images/digicert.png" alt="Norton - Trusted for e-commerce" />
                </div>
            </article>
        </section>
        
            
        
        
        <div class="footer-copyright">
            {{> components/common/payment-icons}}
            {{#if theme_settings.show_copyright_footer}}
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}}<sup>TM</sup> </p>
            {{/if}}
        </div>
        
        {{#or theme_settings.show_powered_by theme_settings.show_built_by}}
            <div class="footer-copyright" style="font-size: 12px;">
                {{#if theme_settings.show_powered_by}}
                    <p class="powered-by">Powered by <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
                {{/if}}
                {{#if theme_settings.show_built_by}}
                    <p class="powered-by">Built by <a href="https://www.weizenyoung.com/" rel="nofollow">Weizen Young</a></p>
                {{/if}}
            </div>
        {{/or}}
    </div>
</footer>
